.idea/
database/.gitignore
	storage/framework/.gitignore
	vendor/danielstjules/stringy/.gitignore
	vendor/dnoegel/php-xdg-base-dir/.gitignore
	vendor/doctrine/inflector/.gitignore
	vendor/doctrine/instantiator/.gitignore
	vendor/fzaninotto/faker/.gitignore
	vendor/hamcrest/hamcrest-php/.gitignore
	vendor/jakub-onderka/php-console-color/.gitignore
	vendor/jakub-onderka/php-console-highlighter/.gitignore
	vendor/mockery/mockery/.gitignore
	vendor/mockery/mockery/docs/.gitignore
	vendor/nikic/php-parser/.gitignore
	vendor/phpdocumentor/reflection-docblock/.gitignore
	vendor/phpspec/phpspec/.gitignore
	vendor/phpspec/prophecy/.gitignore
	vendor/phpunit/php-code-coverage/.gitignore
	vendor/phpunit/php-file-iterator/.gitignore
	vendor/phpunit/php-text-template/.gitignore
	vendor/phpunit/php-timer/.gitignore
	vendor/phpunit/php-token-stream/.gitignore
	vendor/phpunit/phpunit-mock-objects/.gitignore
	vendor/phpunit/phpunit/.gitignore
	vendor/psr/log/.gitignore
	vendor/psy/psysh/.gitignore
	vendor/sebastian/comparator/.gitignore
	vendor/sebastian/diff/.gitignore
	vendor/sebastian/environment/.gitignore
	vendor/sebastian/exporter/.gitignore
	vendor/sebastian/global-state/.gitignore
	vendor/sebastian/recursion-context/.gitignore
	vendor/sebastian/version/.gitignore
	vendor/swiftmailer/swiftmailer/.gitignore
	vendor/symfony/console/.gitignore
	vendor/symfony/css-selector/.gitignore
	vendor/symfony/debug/.gitignore
	vendor/symfony/dom-crawler/.gitignore
	vendor/symfony/event-dispatcher/.gitignore
	vendor/symfony/finder/.gitignore
	vendor/symfony/http-foundation/.gitignore
	vendor/symfony/http-kernel/.gitignore
	vendor/symfony/process/.gitignore
	vendor/symfony/routing/.gitignore
	vendor/symfony/translation/.gitignore
	vendor/symfony/var-dumper/.gitignore
	vendor/symfony/yaml/.gitignore
